@import "./styles/globals.scss";

.btn_group{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 0.8em;

  button{
    height: 35px;
    display: inherit;
    justify-content: center;
    align-items: center;
    background: white;
    border: none;
    font-family: Inter, sans-serif;
    font-size: 0.85em;
    padding: 0 1em;
    border-radius: 0.5em;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: 500;

    &.cancel{
      background: transparent;
      border: 2px solid $button_background;
      color: $color_normal_icon;
    }

    &.apply{
      background: $color_active_icon;
      color: $white_color;
    }
  }
}