@import "./styles/globals.scss";

.watermark {
  display: inline-flex;
  cursor: grab;
  position: absolute;
  z-index: 2;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;

  img {
    touch-action: none;
    pointer-events: none;
    width: 100%;
    height: 100%;
  }
}

.resizer {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  border: 0.2em solid #02D9E1;

  .center{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;

    .drag_moving{
      display: inline-flex;
      width: 75%;
      height: 75%;
      cursor: grab;

      &:active{
        cursor: grabbing;
      }
    }
  }

  .vertical {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    width: 2em;
    right: -1.1em;
    top: 0;
    height: 100%;
    align-items: center;
    justify-content: center;

    .resize_width {
      width: 100%;
      height: 3.5em;
      position: relative;
      display: inherit;
      align-items: inherit;
      justify-content: inherit;
      cursor: e-resize;

      &:after {
        content: " ";
        width: 0.45em;
        height: 100%;
        background: white;
        border-radius: 0.5em;
      }
    }
  }

  .horizontal {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    height: 2em;
    width: 100%;
    bottom: -1.1em;
    left: 0;
    align-items: center;
    justify-content: center;

    .resize_height {
      height: 100%;
      width: 3.5em;
      position: relative;
      display: inherit;
      align-items: inherit;
      justify-content: inherit;
      cursor: s-resize;

      &:after {
        content: " ";
        height: 0.45em;
        width: 100%;
        background: white;
        border-radius: 0.5em;
      }
    }
  }

  .turned {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    height: 3.5em;
    width: 3.5em;
    bottom: -1.85em;
    right: -1.85em;
    align-items: center;
    justify-content: center;
    background: transparent;
    cursor: nw-resize;

    .resize_multi{
      width: 1.45em;
      height: 1.45em;
      background: white;
      border-radius: 99em;
    }
  }
}

.stopSizer{
  background: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.preset_black{
  filter: grayscale(100%);
}

.preset_invert{
  filter: invert(100%);
}

.preset_contrast{
  filter: contrast(1.5);
}

.preset_blur{
  filter: blur(3px);
}
