@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

//dark theme

$gray_background: #22222A;
$black_background: #1B1B23;
$color_active_icon: #75D5FF;
$color_normal_icon: #605F6C;
$white_color: #E7E7E8;