@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
//dark theme

$blocks_background: var(--blocks-background-var); 
$black_background: var(--black-background-var);
$gray_background: var(--gray-background-var);
$color_active_icon: var(--color-active-var);
$color_normal_icon: var(--color-normal-var);
$white_color: var(--white-color-var);
$button_background: var(--button-color-var);
$warning_head_color: var(--warning-head-var);
$warning_text_color: var(--warning-text-var);
$warning_background: var(--warning-background-var);


@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
  }
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}