@import "globals.scss";

.side {
  @include scrollbars(0px, gray);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
  width: 310px;
  position: relative;
  gap: 1.9em;
  height: 100%;
  overflow-y: auto;
}