:root{
    --black-background-light: #f1f1f1;
    --black-background-dark: #1B1B23;
    --gray-background-light: #e0e0e0;
    --gray-background-dark: #1d1d25;    
    --blocks-background-dark: #22222A;
    --blocks-background-light: #fdfdfd;
    --button-color-dark: #2B2B33;
    --button-color-light: #f2f2f2;
    --color-normal-dark: #63656b;
    --color-normal-light: #878787d2;
    --white-color-dark: #E7E7E8;
    --white-color-light: #1c1c1c;
    --color-active-dark: #7844EC;
    --color-active-light: #5c46f4;
    --icon-active-theme-dark: #fff;
    --icon-active-theme-light: #5c46f4;
    --block-theme-dark: #22222a;
    --block-theme-light: #f9f9f9;
    --marker-theme-dark: #2b2b33;
    --marker-theme-light: #FEFEFE; 
    --input-border-dark: #2B2B33;
    --input-border-light: #bdbdbd;
    --submit-color-dark: #E7E7E8;
    --submit-color-light: #ffffff;
    --warning-head-dark:  #D5A529;
    --warning-head-light: #EE9400;
    --warning-text-dark: #C2BCB4;
    --warning-text-light: #1c1c1c;
    --warning-background-dark: #2D282A;
    --warning-background-light: #fef7ea;
    --warning-border-light: 1px solid #EE9400;
    --warning-border-dark: none;
    --resourse-loader-dark: rgba(27, 27, 35, 0.5);
    --resourse-loader-light: rgba(27, 27, 35, 0.12);

    --black-background-var: var(--black-background-dark);
    --gray-background-var: var(--gray-background-dark);
    --blocks-background-var: var(--blocks-background-dark);
    --color-normal-var: var(--color-normal-dark);
    --button-color-var: var(--button-color-dark);
    --color-active-var: var(--color-active-dark);
    --icon-active-theme-var: var(--icon-active-theme-dark);
    --block-theme-var: var(--block-theme-dark);
    --white-color-var: var(--white-color-dark);
    --marker-theme-var: var(--marker-theme-dark); 
    --input-border-var: var(--input-border-dark);
    --submit-color-var: var(--submit-color-dark);
    --warning-text-var: var(--warning-text-dark);
    --warning-background-var: var(--warning-background-dark);
    --warning-head-var: var(--warning-head-dark);
    --warning-border-var: var(--warning-border-dark);
    --resourse-loader-var: var(--resourse-loader-dark);
}